{% include 'header.html' %}

<h1>Lista de Reposições</h1>

<div class="card-container">
    {% for reposicao in reposicoes %}
    <div class="card">
        <h2>{{ reposicao.nome_aluno }}</h2>
        <p><strong>Curso:</strong> {{ reposicao.curso }}</p>
        <p><strong>Professor:</strong> {{ reposicao.professor }}</p>
        <p><strong>Data da Falta:</strong> {{ reposicao.dia_da_falta }}</p>
        <p><strong>Data da Reposição:</strong> {{ reposicao.dia }}</p>
        <p><strong>Hora da Reposição:</strong> {{ reposicao.hora }}</p>
        <p><strong>Conteúdo:</strong> {{ reposicao.conteudo }}</p>
        <p><strong>Concordo:</strong> {{ reposicao.concordo }}</p>
    </div>
    {% endfor %}
</div>

{% include 'footer.html' %}
